html.accept body
{
    background-image: url('background.gif');
}

html.accept body aside
{
    background-color: #ccc;
}

html.accept body figure
{
    text-align: center;
    font-weight: bold;
}

blockquote q
{
    quotes: none;
    display: block;
    text-align: center;
    white-space: pre;
    font-weight: bold;
    font-size: 2em;
}

blockquote cite
{
    display: block;
    text-align: center;
}

footer
{
    position: absolute;
    left: 50%;
    bottom: 0px;
}


div.onzin
{
    position: fixed;
    border: 1px solid black;
    left: 50%;
    width: 100px;
    height: 100px;
    bottom: 0px;
}

div.onzin:hover img#dooropen
{
    display: block;
}

img#dooropen
{
    display: none;
}

#ie
{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: 120px;
    font-size: 8pt;
}

img#cat
{
    position: absolute;
    bottom: 0px;
    left: 100px;
    animation: catscene 5s;
    animation-iteration-count: infinite;
}

@keyframes catscene
{

    0% { left: 100px; }
    50% { left: 0px; }
    100% { left; 0px; }
}


