/*
Jasper ter Weeme
*/

body
{
    padding: 0px;
    margin: 0px;
}

nav.mainmenu
{
    margin: 0px;
    padding: 5px;
    background-color: green;
}

nav.mainmenu a
{
    color: white;
    padding-left: 10px;
}

