
li#scene05
{
    -moz-animation-name: scene5;
    -moz-animation-duration: 5s;
    -moz-animation-delay: 11100ms;
    -webkit-animation-name: scene5;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 11100ms;
    animation-name: scene5;
    animation-duration: 5s;
    animation-delay: 11100ms;
}

#scene05 img.lines
{
    left: 0;
    top: 272px;
}

li#scene05 div.fan
{
    left: 550px;
    top: 256px;
    width: 50px;
    height: 58px;
    position: absolute;
}

li#scene05 div.fan img#fan-blade-05
{
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    -moz-transform-origin: 50% 50%;
    -moz-animation: fan-rotate-01 18s 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: fan-rotate-01 18s 1;
    -webkit-animation-delay: 11100ms;
    -webkit-animation-fill-mode: both;
}

#scene05 .chair5a
{
    position: relative;
    top: 350px;
    left: 400px;
}

li#scene05 img.man
{
    position: relative;
    z-index: 9000!important;
    top: 230px;
    left: 700px;
}

li#scene05 img.suitcase
{
    z-index: 9100!important;
    top: 475px;
    left : 665px;
    -moz-transform-origin : 100% 0;
    -moz-animation : drop-desk-shadow-05 5s 500ms 1;    
    -moz-animation-fill-mode : both;
}

#scene05 img.books
{
    left: 200px;
    top: 240px;
    width: 269px;
    height: 80px;
    -moz-transform-origin: 100% 100%;
    -moz-animation: books05 7s 500ms 1;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 100% 100%;
    -webkit-animation: books05 7s 500ms 1;
    -webkit-animation-fill-mode: both;
    transform-origin: 100% 100%;
    animation: books05 7s 500ms 1;
    animation-fill-mode: both;
}

li#scene05 img.ads5a
{
    opacity: .55;
    top: 350px;
    left: 900px;
    height: 100px;
    width: 60px;
    width : 60px;
    -moz-transform-origin : 50% 50%;
    -moz-animation : drop-ads-a-05 4s 100ms 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode : both;
}

li#scene05 img.ads5b
{
    opacity : .55;
    top : 430px;
    left : 870px;
    height : 100px;
    width : 60px;
    background-color : rgb(200,200,200);
    -moz-transform-origin : 50% 50%;
    -moz-animation : drop-ads-b-05 4s 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode : both;
}

li#scene05 img.ads5c
{
    opacity : .55;
    top : 470px;
    left : 925px;
    height : 100px;
    width : 60px;
    background-color : rgb(200,200,200);
    -moz-transform-origin : 50% 50%;
    -moz-animation : drop-ads-a-05 4s 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode : both;
}

#scene05 img.lamp
{
    left: 5px;
    top: 165px;
    width: 92px;
    height: 342px;
    -moz-transform-origin: 100% 100%;
    -moz-animation: drop-lamps-05 7s 500ms 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 100% 100%;
    -webkit-animation: drop-lamps-05 7s 500ms 1;
    -webkit-animation-delay: 11100ms;
    -webkit-animation-fill-mode: both;
    transform-origin: 100% 100%;
    animation: drop-lamps-05 7s 500ms 1;
    animation-delay: 11100ms;
    animation-fill-mode: both;
}

#scene05 img.lights5b
{
    top: 50px;
    left: 313px;
    width: 96px;
    height: 31px;
}

#scene05 img.lights5c
{
    top: 95px;
    left: 480px;
    width: 78px;
    height: 22px;
    -moz-transform-origin: 0 0;
    -moz-animation: drop-light-05 7s 100ms 1;
    -moz-animation-delay: 11100ms;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 0 0;
    -webkit-animation: drop-light-05 7s 100ms 1;
    -webkit-animation-delay: 11100ms;
    -webkit-animation-fill-mode: both;
}

@-moz-keyframes scene5
{
    from { z-index: 2; }
    to { z-index: 2; }
}

@-webkit-keyframes scene5
{
    from { z-index: 2; }
    to { z-index: 2; }  
}

@-moz-keyframes fan-rotate-01
{
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(900deg); }
}

@-webkit-keyframes fan-rotate-01
{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(900deg); }
}

@-moz-keyframes drop-light-05
{
    0%
    {
        -moz-transform: translate(0, 0);
        -moz-animation-timing-function: ease-in;
    }
    100%
    {
        -moz-transform: translate(0, 650px) rotate(-50deg);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes drop-light-05
{
    0%
    {
        -webkit-transform: translate(0, 0);
        -webkit-animation-timing-function: ease-in;
    }
    100%
    {
        -webkit-transform: translate(0, 650px) rotate(-50deg);
        -webkit-animation-timing-function: ease;
    }
}

@-moz-keyframes books05
{
    from
    {
        -moz-transform: translate(0,0) rotate(0deg);
        -moz-animation-timing-function: ease-in;
    }
    50%
    {
        -moz-transform: translate(0,50px) rotate(-10deg);
        -moz-animation-timing-function: ease-in;
    }
    to
    {
        -moz-transform: translate(0,350px) rotate(0deg);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes books05
{
    from
    {
        -webkit-transform: translate(0,0) rotate(0deg);
        -webkit-animation-timing-function: ease-in;
    }
    50%
    {
        -webkit-transform: translate(0,50px) rotate(-10deg);
        -webkit-animation-timing-function: ease-in;
    }
    to
    {
        -webkit-transform: translate(0,350px) rotate(0deg);
        -webkit-animation-timing-function: ease;
    }
}

@-moz-keyframes drop-ads-a-05 {
 0% {
-moz-transform : translate(0,0) rotate(0deg) skew(5deg,-15deg);
-moz-animation-timing-function : ease-out; }
 100% {
-moz-transform : translate(0,300px) rotate(30deg) skew(7deg,-25deg);
-moz-animation-timing-function : ease-in; }
}

@-moz-keyframes drop-ads-b-05 {
 0% {
-moz-transform : translate(0,0) rotate(0deg) skew(5deg,-15deg);
-moz-animation-timing-function : ease-out; }
 100% {
-moz-transform : translate(0,300px) rotate(-30deg) skew(7deg,-25deg);
-moz-animation-timing-function : ease-in; }
}



@-moz-keyframes drop-lamps-05
{
    0%
    {
        -moz-transform: translate(0,0) rotateX(0deg) skew(0deg,0deg);
        -moz-animation-timing-function: ease-in;
    }
    90%
    {
        -moz-transform: translate(0,0) rotateX(180deg) skew(-55deg, 0deg);
        -moz-animation-timing-function: ease;
    }
    100%
    {
        -moz-transform: translate(0,100px) rotateX(180deg) skew(-55deg, 0deg);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes drop-lamps-05
{
    0%
    {
        -webkit-transform: translate(0,0) rotateX(0deg) skew(0deg,0deg);
        -webkit-animation-timing-function: ease-in;
    }
    90%
    {
        -webkit-transform: translate(0,0) rotateX(180deg) skew(-55deg, 0deg);
        -webkit-animation-timing-function: ease;
    }
    100%
    {
        -webkit-transform: translate(0,100px) rotateX(180deg) skew(-55deg, 0deg);
        -webkit-animation-timing-function: ease;
    }
}


