li#scene14
{
    -moz-animation-name: scene14;
    -moz-animation-duration: 1800ms;
    -moz-animation-delay: 35800ms;
    -webkit-animation-name: scene14;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-delay: 35800ms;
    animation-name: scene14;
    animation-duration: 1800ms;
    animation-delay: 35800ms;
}

@-moz-keyframes scene14
{
    from { z-index: 2; }
    to { z-index: 2; }
}

@-webkit-keyframes scene14
{
    from { z-index: 2; }
    to { z-index: 2; }
}

@keyframes scene14
{
    from { z-index: 2; }
    to { z-index: 2; }
}

li#scene14 img.background
{
    top: -0;
    left: -0;
    width: 1024px;
    height: 768px;
    -moz-transform-origin : 50% 50%;
    -moz-animation : bldg-14 2s 1;
    -moz-animation-delay: 35800ms;
    -moz-animation-fill-mode : both; }
}


@-moz-keyframes bldg-14
{
    0% {
        -moz-transform : scale(1,1);
        -moz-animation-timing-function : linear; }
    100% {
        -moz-transform : scale(1.15,1.15);
        -moz-animation-timing-function : linear; }
}


