li#scene13
{
    -moz-animation-name: scene13;
    -moz-animation-duration: 1800ms;
    -moz-animation-delay: 34s;
    -webkit-animation-name: scene13;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-delay: 34s;
    animation-name: scene13;
    animation-duration: 1800ms;
    animation-delay: 34s;
}

@-moz-keyframes scene13
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-webkit-keyframes scene13
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@keyframes scene13
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

li#scene13 h1
{
    top: 150px;
    left: 600px;
}

#scene13 img.man
{
    left: 450px;
    top: 0;
    width: 106px;
    height: 107px;
    -moz-transform-origin : 50% 50%;
    -moz-animation : man-13 3500ms 1;   
    -moz-animation-fill-mode : both;
    -moz-animation-delay: 34s;
    -webkit-transform-origin : 50% 50%;
    -webkit-animation : man-13 3500ms 1;   
    -webkit-animation-fill-mode : both;
    -webkit-animation-delay: 34s;
}


@-moz-keyframes man-13
{
    0%
    {
        -moz-transform : translate(0,0) rotate(0deg);
        -moz-animation-timing-function : ease-out;
    }
    100%
    {
        -moz-transform : translate(0,600px) rotate(-15deg);
        -moz-animation-timing-function : ease-in; }
}

@-webkit-keyframes man-13
{
    0%
    {
        -webkit-transform : translate(0,0) rotate(0deg);
        -webkit-animation-timing-function : ease-out;
    }
    100%
    {
        -webkit-transform : translate(0,600px) rotate(-15deg);
        -webkit-animation-timing-function : ease-in; }
}



