li#scene03
{
    -moz-animation-name: scene3;
    -moz-animation-duration: 2400ms;
    -moz-animation-delay: 6500ms;
    -webkit-animation-name: scene3;
    -webkit-animation-duration: 2400ms;
    -webkit-animation-delay: 6500ms;
    animation-name: scene3;
    animation-duration: 2400ms;
    animation-delay: 6500ms;
}

@-moz-keyframes scene3
{
    from { z-index: 2; }
    to {  z-index: 2; }
}

@-webkit-keyframes scene3
{
    from { z-index: 2; }
    to {  z-index: 2; }
}

@keyframes scene3
{
    from { z-index: 2; }
    to {  z-index: 2; }
}

li#scene03 h1
{
    top: 500px;
    left: 725px;
    width: 300px;
}

li#scene03 #multi-slats-03
{
    left: 610px;
    top: 0;
    -moz-animation: multi-slats-03 2s 1;
    -moz-animation-delay: 7500ms;
    -moz-animation-fill-mode: both;
    -webkit-animation : multi-slats-03 2s 1s 1;
    -webkit-animation-delay: 7500ms;
    -webkit-animation-fill-mode : both;
    animation : multi-slats-03 2s 1s 1;
    animation-delay: 7500ms;
    animation-fill-mode : both;
}

@-moz-keyframes multi-slats-03
{
 0% {
    -moz-transform : translate(0,0);
    -moz-animation-timing-function : ease-in; }
 
 100% {
    -moz-transform : translate(0,100px);
    -moz-animation-timing-function : ease; }
}

li#scene03 #single-slats-03
{
    left: 612px;
    top: 30px;
}

li#scene03 img.shadow
{
    top: 540px;
    left: 435px;
}

li#scene03 img.suitcase
{
    top: -45px;
    left: 435px;
    -moz-animation: suitcase03 1s 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 6500ms;
    -moz-animation-fill-mode: both;
    -webkit-animation: suitcase03 1s 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 6500ms;
    -webkit-animation-fill-mode: both;
    animation: suitcase03 1s 1;
    animation-duration: 1s;
    animation-delay: 6500ms;
    animation-fill-mode: both;
}

@-moz-keyframes suitcase03
{
    from
    {
        -moz-transform: translate(0,0);
        -moz-animation-timing-function: ease-in;
    }
    65%
    {
        -moz-transform: translate(0,135px);
        -moz-animation-timing-function: ease-out;
    }
    75%
    {
        -moz-transform: translate(0,135px);
        -moz-animation-timing-function: ease-in;
    }
    to
    {
        -moz-transform: translate(0,135px);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes suitcase03
{
    from
    {
        -webkit-transform: translate(0,0);
        -webkit-animation-timing-function: ease-in;
    }
    65%
    {
        -webkit-transform: translate(0,135px);
        -webkit-animation-timing-function: ease-out;
    }
    75%
    {
        -webkit-transform: translate(0,135px);
        -webkit-animation-timing-function: ease-in;
    }
    to
    {
        -webkit-transform: translate(0,135px);
        -webkit-animation-timing-function: ease;
    }
}


@keyframes suitcase03
{
    from
    {
        transform: translate(0,0);
        animation-timing-function: ease-in;
    }
    65%
    {
        transform: translate(0,135px);
        animation-timing-function: ease-out;
    }
    75%
    {
        transform: translate(0,135px);
        animation-timing-function: ease-in;
    }
    to
    {
        transform: translate(0,135px);
        animation-timing-function: ease;
    }
}


li#scene03 img.arm
{
    position: relative;
    left: 570px;
    top: -275px;
    width: 110px;
    height: 320px;
    -moz-animation: arm03 1800ms 1;
    -moz-animation-delay: 6500ms;
    -moz-animation-fill-mode: both;
}

@-moz-keyframes suitcase03
{
 0% {
    -moz-transform : translate(0,0);
    -moz-animation-timing-function : ease-in; }
 65% {
    -moz-transform : translate(0,135px);
    -moz-animation-timing-function : ease-out; }
 75% {
    -moz-transform : translate(0,135px);
    -moz-animation-timing-function: ease-in; }
 100% {
    -moz-transform : translate(0,130px);
    -moz-animation-timing-function : ease; }
}

@keyframes suitcase03
{
    0% {
        transform : translate(0,0);
        animation-timing-function : ease-in;
    }
    65%
    {
        transform : translate(0,135px);
        animation-timing-function : ease-out;
    }
    75%
    {
        transform : translate(0,135px);
        animation-timing-function: ease-in;
    }
    100%
    {
        transform : translate(0,130px);
        animation-timing-function : ease;
    }
}


li#scene03 img.legs
{
    left: -15px;
    top: -15px;
}




