li#scene12
{
    -moz-animation-name: scene12;
    -moz-animation-duration: 1800ms;
    -moz-animation-delay: 32200ms;
    -webkit-animation-name: scene12;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-delay: 32200ms;
    animation-name: scene12;
    animation-duration: 1800ms;
    animation-delay: 32200ms;
}

@-moz-keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-webkit-keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

