
li.scene01
{
    -moz-animation-name: scene1;
    -moz-animation-duration: 4500ms;
    -moz-animation-delay: 0s;
    -webkit-animation-name: scene1;
    -webkit-animation-duration: 4500ms;
    -webkit-animation-delay: 0s;
}

li.scene01 div#fan-01
{
    left: 550px;
    top: 256px;
    width: 50px;
    height: 58px;
}

li.scene01 div#fan-01 img#fan-blade
{
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    -moz-transform-origin: 50% 50%;
    -moz-animation: fan-rotate-01 18s 1;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: fan-rotate-01 18s 1;
    -webkit-animation-fill-mode: both;
}

li.scene01 img.man
{
    top: -50px;
    left: 575px;
    width: 523px;
    height: 747px;
    -moz-transform-origin: 50% 50%;
    -moz-animation: man-zoomout-01 6s 500ms 1;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: man-zoomout-01 6s 500ms 1;
    -webkit-animation-fill-mode: both;
}

@-moz-keyframes scene1
{
    from { z-index: 2; }
    to { z-index: 2; }
}

@-webkit-keyframes scene1
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-moz-keyframes fan-rotate-01
{
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(900deg); }
}

@-webkit-keyframes fan-rotate-01
{
    0% { -webkit-transform: rotateZ(0deg); }
    100% { -webkit-transform: rotateZ(900deg); }
}

@-moz-keyframes man-zoomout-01
{
    0%
    {
        -moz-transform: translate(0,0) scale(1.05,1.05);
        -moz-animation-timing-function: ease-out;
    }
    100%
    {
        -moz-transform: translate(0,0) scale(.8,.8);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes man-zoomout-01
{
    0%
    {
        -webkit-transform: translate(0,0) scale(1.05,1.05);
        -webkit-animation-timing-function: ease-out;
    }
    100%
    {
        -webkit-transform: translate(0,0) scale(.8,.8);
        -webkit-animation-timing-function: ease;
    }
}


