li.scene09
{
    -moz-animation-duration: 2800ms;
    -moz-animation-delay: 23900ms;
    -moz-animation-name: scene9;
    -webkit-animation-duration: 2800ms;
    -webkit-animation-delay: 23900ms;
    -webkit-animation-name: scene9;
}

li.scene09 h1#title-09-a
{
    top: 50px;
    left: 625px;
}

li.scene09 h1#title-09-b
{
    top: 150px;
    left:625px;
}

li.scene09 img.background
{
    top: 0;
    width: 1417px;
    height: 744px;
    -moz-transform-origin: 0% 50%;
    -moz-animation: bldg-09 3s 1;
    -moz-animation-delay: 23900ms;
    -moz-animation-duration: 3s;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: bldg-09 3s 1;
    -webkit-animation-delay: 23900ms;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
}

li.scene09 img.man
{
    top: -200px;
    left: 160px;
    -moz-transform-origin: 50% 50%;
    -moz-animation: man09 3500ms 1;
    -moz-animation-delay: 23900ms;
    -moz-animation-duration: 3500ms;
    -moz-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: man09 3500ms 1;
    -webkit-animation-delay: 23900ms;
    -webkit-animation-duration: 3500ms;
    -webkit-animation-fill-mode: both;
}

@-moz-keyframes scene9
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-webkit-keyframes scene9
{
    from { z-index: 2; }
    to   { z-index: 2; }
}


@-moz-keyframes bldg-09
{
    from
    {
        -moz-transform: translate(0,0);
        -moz-animation-timing-function: linear;
    }
    to
    {
        -moz-transform: translate(-150px,-160px);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes bldg-09
{
    from
    {
        -webkit-transform: translate(0,0);
        -webkit-animation-timing-function: linear;
    }
    to
    {
        -webkit-transform: translate(-150px,-160px);
        -webkit-animation-timing-function: ease;
    }
}

@-moz-keyframes man09
{
    from
    {
        -moz-transform: translate(0,0) rotate(0deg);
        -moz-animation-timing-function: ease-out;
    }
    to
    {
        -moz-transform: translate(50px, 820px) rotate(-20deg);
        -moz-animation-timing-function: ease;
    }
}

@-webkit-keyframes man09
{
    from
    {
        -webkit-transform: translate(0,0) rotate(0deg);
        -webkit-animation-timing-function: ease-out;
    }
    to
    {
        -webkit-transform: translate(50px, 820px) rotate(-20deg);
        -webkit-animation-timing-function: ease;
    }
}



