li.scene12
{
    -moz-animation-name: scene12;
    -moz-animation-duration: 1800ms;
    -moz-animation-delay: 32200ms;
    -webkit-animation-name: scene12;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-delay: 32200ms;
    animation-name: scene12;
    animation-duration: 1800ms;
    animation-delay: 32200ms;
}

li.scene12 img.background
{
    -moz-transform-origin : 0% 50%;
    -moz-animation : bldg-12 3s 1;  
    -moz-animation-delay: 32200ms;
    -moz-animation-fill-mode : both;
    -webkit-transform-origin : 0% 50%;
    -webkit-animation : bldg-12 3s 1;  
    -webkit-animation-delay: 32200ms;
    -webkit-animation-fill-mode : both;
    transform-origin : 0% 50%;
    animation : bldg-12 3s 1;  
    animation-delay: 32200ms;
    animation-fill-mode : both;
}

li.scene12 img.man
{
    top : -150px;
    left : 265px;
    -moz-transform-origin : 50% 50%;
    -moz-animation : man-12 3500ms 1;
    -moz-animation-delay: 32200ms; 
    -moz-animation-fill-mode : both;
    -webkit-transform-origin : 50% 50%;
    -webkit-animation : man-12 3500ms 1;
    -webkit-animation-delay: 32200ms; 
    -webkit-animation-fill-mode : both;
}

@-moz-keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-webkit-keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@keyframes scene12
{
    from { z-index: 2; }
    to   { z-index: 2; }
}

@-moz-keyframes bldg-12
{
    0%
    {
        -moz-transform : translate(0,0);
        -moz-animation-timing-function : linear; }
    100%
    {
        -moz-transform : translate(0,-1000px);
        -moz-animation-timing-function : ease;
    }
}

@-webkit-keyframes bldg-12
{
    0%
    {
        -webkit-transform : translate(0,0);
        -webkit-animation-timing-function : linear; }
    100%
    {
        -webkit-transform : translate(0,-1000px);
        -webkit-animation-timing-function : ease;
    }
}

@-moz-keyframes man-12
{
    0%
    {
        -moz-transform : translate(0,0) rotate(0deg);
        -moz-animation-timing-function : ease-out;
    }
    100%
    {
        -moz-transform : translate(10px,600px) rotate(10deg);
        -moz-animation-timing-function : ease-in;
    }
}

@-webkit-keyframes man-12
{
    0%
    {
        -webkit-transform : translate(0,0) rotate(0deg);
        -webkit-animation-timing-function : ease-out;
    }
    100%
    {
        -webkit-transform : translate(10px,600px) rotate(10deg);
        -webkit-animation-timing-function : ease-in;
    }
}

